body {
  margin: 0;
 
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.card{
  margin: 0 auto;
  width:20rem;
}


.card input{
  width: 15rem;
  text-align: center;
}

.hiddenSpan{
  color: transparent;
}

.hiddenSpan:hover,
.hiddenSpan:active{
  color: red;
  font-weight: bold;
}

.hideMe{display: none!important;}
.showMe{display: block;}

.icons span{
  color: green;
}

.quizLi{
  cursor: pointer;
}
.navBold,
summary{
  color:#0d6efd;
  font-weight: 700;
}

@media only screen and (max-width: 700px) {
  .cardQuiz{
    min-width: 80vw!important;
  }
}

@media only screen and (max-width: 440px) {
  .cardQuiz{
    width: 95vw!important;
  }
 
  .list-group-item{
  font-size: 3.7vw;
  }

  .list-group-item input{
    max-width: 60vw!important;
  }
}

